<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - My Kendo UI Application</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    	<link href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.2.504/styles/kendo.dataviz.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2016.2.504/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.2.504/js/angular.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.2.504/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.2.504/js/kendo.all.min.js"></script>
</head>
    <body>
        @RenderBody()

        @Html.Partial("_Footer-Main");


    </body>
</html>